form {
  align-items: center;
  background: #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  justify-content: center;
}

form > input {
  border: none;
  border-radius: 5px;
  width: 20rem;
}
