* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.page-title {
  color: #f5f5f1;
  font-family: cursive;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
}

.movie-card-header {
  align-items: center;
  background-color: #e50914;
  display: flex;
  height: 100px;
  justify-content: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: #f5f5f1;
  border: 1px solid  #221f1f;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #e50914;
  border-radius: 25px;
  color: #f5f5f1;
  font-size: 15px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.app {
  background-color: rgb(182, 182, 182);
}

label {
  background-color: #fafafe;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 10px;
  padding: 15px 10px 5px;
  position: relative;
  width: 200px;
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

#checked {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

#genre {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

#rating {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

#select-genre {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

button {
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #221f1f;
  color: white;
}